/*
* @Author: Zihao Tao
* @Date:   2018-11-06 22:21:32
* @Last Modified by:   Zihao Tao
* @Last Modified time: 2018-11-06 22:58:31
*/
/* nav main body */
.nav-side {
    float: left;
    width: 130px;
    min-height: 100px;
}

.nav-side .nav-item {
    line-height: 25px;
    font-size: 13px;
}

.nav-side .nav-item .link {
    color: #888;
}

.nav-side .nav-item.active .link {
    color: #c60023;
}

/* right container */
.content.with-nav {
    float: left;
    width: 950px;
}