/*
* @Author: Zihao Tao
* @Date:   2018-11-06 20:35:27
* @Last Modified by:   Zihao Tao
* @Last Modified time: 2019-06-03 22:55:02
*/
.nav {
    background: transparent;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

/* user part */
.nav .user {
    float: left;
    margin-left: 30px;
}

.nav .user.login {
    display: none; 
}

.nav .user .link {
    margin-right: 15px;
}

/* link nav part */
.nav .nav-list {
    float: right;
    margin-right: 30px;
}

.nav .nav-list .nav-item {
    display: inline-block;
    margin-left: 10px;
}















