/*
* @Author: Zihao Tao
* @Date:   2018-11-14 23:22:42
* @Last Modified by:   Zihao Tao
* @Last Modified time: 2019-06-04 00:26:38
*/

/* pic */
.page-wrap {
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
}

.all-top {
  overflow: hidden;
}

.all {
  word-wrap: break-word;
  width: 50%;
  padding: 2rem 0;
  float: left;
}

.wrapper,
.container-img {
  margin: 0 auto;
}

.container-img {
  position: relative;
  border-radius: 4px;
  width: 500px;
  height: 115px;
  line-height: 0;
}

.left {
  float: left;
  width: 20%;
  margin-right: 10px;
}

.right {
  float: left;
  margin-left: 10px;
  height: 520px;
  width: 70%;
  align-items: center;
  display: flex;
}

.right img {
  width: 100%;
  height: auto;
}

.slideDiv {
  width:50%;
}

.slide {
  background-size: cover;
  margin: 10px;
  height: 75px;
  width: 50px;
  align-items: center;
  display: flex;
}

.slide img {
  width: 50px;
  height: auto;
}

.control {
  position: relative;
  left: 30%;
}

.control:hover {
  cursor: pointer;
}

.active {
  outline: 1px solid green;
}

.info {
  width: 50%;
  float: left;
  margin-top: 5px;
  font-size: 15px;
}

.info .p-name {
  font-size: 20px;
  margin-top: 5px;
}

.info .p-subtitle {
  padding: 10px;
}

.info .p-info-item {
  padding: 10px 0;
}

.info .label {
  padding: 10px;
}

.info .information {
    padding: 10px;
}

.color-selector {
  align-items: center;
  display: flex;
  padding: 10px;
}

.colors-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.colors-item:hover {
  cursor: pointer;
  border: 1px solid green;
  box-sizing: border-box;
}

.size-select {
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
}

.size-item {
  margin: 0px 15px; 
  height: 20px;
  width: 40px;
  text-align: center;
  line-height: 20px;
  outline: 1px solid #d9d9d9;
}

.size-item:hover {
  cursor: pointer;
  outline: 1px solid green;
}

.all-down .details-navi {
  width: 60%;
  margin: auto;
  font-size: 20px;
  color: #666;
}

.all-down .underline {
  width: 60%;
  margin: 10px auto;
  height: 1px;
  background: rgb(200, 200, 200, 0.9);
}

.all-down .details-info{
  width: 60%;
  margin: auto auto;
  height: 250px;
}

.all-down .details-info li {
  padding: 5px;
}

.all-down .details-info .description-con, 
.all-down .details-info .detail-con, 
.all-down .details-info .delivery-con{
  padding: 10px;
  font-size: 12px;
  line-height: 2em;
}

.youMayAlsoLike {
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 20px;
}

.youMayLike {
  display: flex;
  justify-content: space-evenly;
}

.youMayLike li {
  list-style-type: none;
}

.youMayLike .p-item {
  width: 15%;
}

.youMayLike .p-img-con {
  width: 100%;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  margin-top: 10px;
}

.youMayLike .p-img-con img{
  width: 100%;
}

.youMayLike .p-name-con {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 9px;
}

.youMayLike .p-name-con .p-name {
  margin: 10px;
}



/* quantity */
.p-info-con .p-count-con .p-count{
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    width: 45px;
    text-align: center;
    outline: none;
    border: 1px solid #aaa;
}

.p-info-con .p-count-con .p-count-btn {
    position: relative;
    left: 150px;
    display: block;
    width: 20px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #aaa;
    background-color: #fff;
    cursor: pointer;
    -moz-user-select : none;
    -webkit-user-select : none;
    -ms-user-select : none;
    user-select : none;
}

.p-info-con .p-count-con .p-count-btn.plus {
    top: -40px;
}

.p-info-con .p-count-con .p-count-btn.minus {
    bottom: 34px;
}

.btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background-color: #343434;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.btn .fa-shopping-bag {
  margin-right: 10px; 
}

@media only screen and (max-width: 600px) {
  .container-img {
    position: relative;
    width: 500px;
    height: 115px;
    line-height: 0;
  }

  .left {
    float: left;
    width: 30%;
    margin-right: 10px;
  }

  .right {
    float: left;
    margin-left: 10px;
    height: 384px;
    width: 256px;
    align-items: center;
    display: flex;
  }

  .right img {
    width: 256px;
    height: auto;
  }
}
