<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html') %>
        <title><%= htmlWebpackPlugin.options.title %> - Pomegranate - online shopping mall</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html') %>
        <%= require('html-loader!./layout/header.html') %>
        <div class="indexW">
            <div class="product">
              <div class="filter">
                <div class="Category">
                  <div id="Category-title" class="title">
                    Category
                    <div id="Category-plus" class="plus">
                      <i class="fas fa-plus"></i>
                    </div>
                    <div id="Category-minus" class="minus hidden">
                    <i class="fas fa-minus"></i>
                    </div>
                  </div>
                  <div>
                    <ul class="menubar" id="Category-menubar">
                   
                    </ul>
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="producr-header">
                  <div id="size" class="size"></div>
                  <div class="sort">
                    <ul class="sort-con">
                        <li class="sort-item active" data-type="default">
                            Featured
                        </li>
                        <li class="sort-item" data-type="price">
                          <span>Price</span>
                          <i class="fas fa-sort-up"></i>
                          <i class="fas fa-sort-down"></i>
                        </li>
                    </ul>
                  </div>
                </div>
                <div class="generate">
                  <!-- list container -->
                  <ul class="p-list-con"></ul>
                  <!-- page container -->
                  <div class="pagination"></div>
                </div>
              </div>
            </div>
        </div>    
        <%= require('html-loader!./layout/footer.html') %>
    </body>
</html>