<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html') %>
        <title><%= htmlWebpackPlugin.options.title %> - Pomegranate - online shopping mall</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html') %>
        <%= require('html-loader!./layout/header.html') %>
        <div class="indexW">
            <div class="floor-wrap">
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100001">
                            <span class="floor-text">SPEAKERS</span>
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100002">
                            <span class="floor-text">HEADPHONES</span>
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100003">
                            <span class="floor-text">IN-EAR</span>
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100004">
                            <span class="floor-text">ACCESSORIES</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="banner-con">
        </div>
        <div class="home-title">
            <div class="title">
                <p class="text1">POWER THE MOTHION</p>
                <p class="text2">Ready for the summer</p>
            </div>
        </div>    
        <%= require('html-loader!./layout/footer.html') %>
    </body>
</html>