/*
* @Author: Zihao Tao
* @Date:   2018-11-06 21:04:33
* @Last Modified by:   Zihao Tao
* @Last Modified time: 2019-05-08 11:43:35
*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');
/* header */
.header {
    background-color: #202f3f;
}
.header .logo {
    position: absolute;
    top: 25px;
    left: 35px;
    display: block;
    font-family: 'Pacifico', cursive, serif;
    font-size: 40px;
    color: #ee3233;
    font-weight:bold;
    text-decoration: none;
}

.header .search-con{
    padding: 40px 0 30px 250px;
}

.header .search-con .search-input {
    margin-left: 50px; 
    width: 50%;
    height: 39px;
    line-height: 40px;
    padding-left:10px; 
    font-size: 15px;
    border: 2px solid #fff;
    outline: none;
}

.header .search-con .search-btn {
    position: absolute;
    height: 44px;
    text-align: center;
}

/* Breadcrumb Trail */
.crumb {
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    color: #888;
    font-size: 14px;
    margin-bottom: 14px;
    border-top: 1px solid #ee3233;
}

@media screen and (max-width:1000px) {
    .header .logo {
        font-size: 30px;
        top: 30px;
        left: 0;
    }
    .header .search-con{
        padding: 30px 0 30px 190px;
    }
    .header .search-con .search-input {
        margin-left: 0; 
        width: 190px;
    }
    .header .search-con .search-btn {
        font-size: 15px;
    }
}



