<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.facebook.com" target="_blank">Facebook</a> | 
            <a class="link" href="http://www.linkedin.com" target="_blank">Linkedin</a> | 
            <a class="link" href="http://www.instagram.com" target="_blank">Instagram</a> | 
            <a class="link" href="http://www.twitter.com" target="_blank">Twitter</a> 
        </div>
        <p class="copyright">
            Copyright © 2018 taozihao.xyz All Right Reserved
        </p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>