<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.imooc.com" target="_blank">imooc</a> | 
            <a class="link" href="http://www.baidu.com" target="_blank">baidu</a> | 
            <a class="link" href="http://www.taobao.com" target="_blank">taobao</a> | 
            <a class="link" href="http://www.zhihu.com" target="_blank">zhihu</a> 
        </div>
        <p class="copyright">
            Copyright © 2018 taozihao.xyz All Right Reserved
        </p>
    </div>
</div>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>