<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="Pomegranate, online store">
<meta name="discription" content="Pomegranate, online store">
<link rel="dns-prefectch" href="//cdn.bootcss.com">
<link rel="dns-prefectch" href="//s.taozihao.xyz">
<link rel="dns-prefectch" href="//img.taozihao.xyz">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129509804-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129509804-1');
</script>