<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="Pomegranate, online store">
<meta name="discription" content="Pomegranate, online store">
<link rel="dns-prefectch" href="//cdn.bootcss.com">
<link rel="dns-prefectch" href="//s.fashionforconservation.xyz">
<link rel="dns-prefectch" href="//img.fashionforconservation.xyz">
<meta name="viewPort" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, minimum-scale=0.7, user-scalable=no">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129509804-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'UA-129509804-1');
</script>