/*
* @Author: Zihao Tao
* @Date:   2018-11-06 18:34:50
* @Last Modified by:   Zihao Tao
* @Last Modified time: 2019-06-04 00:35:21
*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');
.nav-simple {
    height: 60px;
    line-height: 60px;
}
.nav-simple .logo {
    font-size: 26px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    font-family: 'Pacifico', cursive, serif;
}