/*
* @Author: Zihao Tao
* @Date:   2018-11-06 17:35:28
* @Last Modified by:   Zihao Tao
* @Last Modified time: 2019-06-04 00:35:00
*/
/* css reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.5 tahoma, arial, Microsoft YaHei, sans-serif;
}

li {
    list-style: none;
}

img {
    display: block;
    border: none;
}

label {
    cursor: pointer;
}

input[type='checkbox'] {
    cursor: pointer;
}


/* Fixed width layout */

.w {
    width: 90%;
    margin: 0 auto;
}

.indexW {
    width: 100%;
    margin: 0 auto;
    top: -90px;
    overflow: hidden;
}

/* panel */
.panel {
    padding: 10px;
    margin-bottom: 10px;
    background: white; 
}

.panel .panel-title {
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.panel .panel-body {
    padding: 10px;
    overflow: hidden; 
}

/* global layout sample */
/* hidden class */
.hide {
    display: none;
}

/* Hyperlink style */
.link {
    color: #999;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: grey;
}

.link-text {
    color: #999;
    text-decoration: none;
}

/* btn */
.btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background-color: #3e3e3e;
    font-size: 17px;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10 px;
}

/* loading */
.loading {
    margin: 10px auto;
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    background-image: url(../../image/icon/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .6;
}

















